/* 
* Name:Jahan Patel
* File:Styles.css
* Date:4 April 2025
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  .container {
    max-width: 600px;
    margin: auto;
  }
  .story {
    visibility: hidden;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
  }

  button{
    display: block;
}